body {
    margin: 0px;
    padding: 0px;
}
.hotelbooking {
    height: 100%;
    width: 100%;
}
.section-container {
    width: 100%;
    height: 92%;
}
.hotel-search {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 30px;
    height: 10%;
}
.hotelpreview-section {
    height: 90%;
    overflow: auto;
    margin-top: 30px;
}